{% extends 'pages/main.html' %}
{% load static %}


{% block content %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Trở về</a>
			<hr>
			<h3 style="text-align: center">Thông tin tài khoản</h3>
			<hr>
			<img class="profile-pic" src="{{request.user.customer.profile_pic.url}}" >
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-outline">
					<label class="form-label" for="form2Example17">Mật khẩu hiện tại: </label>
					{{form.old_password}}
				</div>
	
				<div class="form-outline">
					<label class="form-label" for="form2Example27">Mật khẩu mới: </label>
					{{form.new_password1}}
				</div>
				<div class="form-outline">
					<label class="form-label" for="form2Example17">Xác nhận mật khẩu mới: </label>
					{{form.new_password2}}
				</div>
		
			<input class="btn btn-primary" type="submit" name="update" value="Cập nhật">
			</form>
		</div>
	</div>
	{{form.errors}}
</div>

<script>

for (var field in form_fields){	
	form_fields[field].className += ' form-control'
}
</script>


{% endblock %}