{% extends 'pages/main.html' %}
{% load static %}

{% block content %}

<div style="text-align: center; margin-top:5%">
	<h2> Đổi mật khẩu thành công </h2>
	<a class='btn btn-primary' href="{% url 'home' %}" style="margin-top:5%">Trở về trang chủ</a>
</div>
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
	{{ message }}
</div>
{% endfor %}
{% endif %}


{% endblock content %}