{% extends 'pages/main.html' %}
{% load static %}

{% block style %}
    .a{
        margin: auto;
        margin-top:30px;
        padding: 20px 50px;
        background: white ;
        border-radius:5px;
        width:50%;
    }
    
{% endblock style %}


{% block content %}


<div class="a" >
    <form class="row g-3" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
		<div class="form-outline">
            <label for="formFile" class="form-label ">Chọn file</label>
            {{form.field_name}}
        </div>
        <div class="form-outline">
            <label for="inputPassword4" class="form-label" >Lưu file mã hóa dưới tên :</label>
            {{form.name}}
        </div>

        <div style="margin-top:30px;">
        	<input class="btn btn-warning btn-block" type="submit" name="update" value="Mã hóa">
        </div>

        
    </form>
</div>  
</script>



{% endblock content %}